
/***************************************
**** Sección Nuestro Equipo ****
***************************************/

/*.mapa{
    background: url(../images/mapa.PNG);
    width:100%;
    height:500px;
}*/

/*#local{
    background-color: #f3f3f3;    
    padding-bottom:300px;
    display:flex;/* para que el mapa y el resto de contenidos se vean en una linea ponemos esto*/
    /*justify-content:center;*/
/*}*/

/*.wrapper{
    width:50%;
    margin-left:100px;
    padding-top:150px;
}*/


/***************************************
**** Sección Equipo Miami ****
***************************************/

#numeros-local div{
    padding:0 20px 0 0;
    height:48px;
}

#numeros-local div:not(:last-child){/*asi colocamos un borde para cada div excepto para el ultimo*/
    border-right: 2px solid #3f3f3f;

}

#numeros-local div:not(:first-child){
    padding-left:20px;
}

#numeros-local p{
    margin:0;/* asi le quitamos el espacio que queda entre parrafos: la linea 248, 100% y 24grados y la lina Dias de Sol, Aprobado y Temperatura*/

}

/***************************************
**** Sección PDF ****
***************************************/




section iframe {
    display: block;
    margin: 0 auto;
    padding-bottom: 200px;
    width: 100%;
    max-width: 600px;
    height: 100vw;
    max-height: 960px;
  }



/***************************************
**** Sección Contactos Background ****
***************************************/

/*hacemos lo siguiente para mover la imagen que hemos colocado*/
#bg-contacto{
    position:relative;/*al poner relative podemos cambiar su ubicacion*/
    top:-230px;/*asi vamos a mover esa imagen hacia arriba 130 pixeles*/
}
#seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}


/***************************************
**** Sección Contactos Formulario ****
***************************************/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    max-width:500px;
}

#titulo-formulario{
    color:#3f3f3f;
}

/***************************************
**** Footer ****
***************************************/


/***************************************
**** Media Queries para pantalla Ancha ****
***************************************/

@media(max-width:1200px){
    #local{
        flex-wrap: wrap;
        padding-top:30px;
    }

    .wrapper{
        width:90%;
        margin:auto;
        padding-top:50px;
    }

    #bg-contacto{
        top:-110px;/*asi le quitamos la franja blanca que queda entre la imagen vectorial y el color de fondo*/
    }

}



/***************************************
**** Media Queries para pantalla SM ****
***************************************/

@media (max-width:768px){/*hacemos una media querie para pantalla de un maximo ancho de 768px*/
    #introduccion, #equipo{
        width:90% !important;/*aqui q poner !importante detras pq si no lo que aplica bootstrap
        por defecto tiene mayor prioridad*/
    }
    #equipo p{
        display:none;/* asi con pantallas pequeñas el parrafo dentro del id equipo desaparece*/
    }
    .servicio-fila{
        width:100% !important;
        text-align:center; /*texto centrado en pantallas pequeñas*/
    }
    #bg-contacto{
        top:-110px;/*asi le quitamos la franja blanca que queda entre la imagen vectorial y el color de fondo*/
    }
}

/***************************************
**** Media Queries para pantalla EXTRA-SM ****
***************************************/
@media (max-width:576px){
    .icono-wrap{
        flex-wrap: wrap ;/*asi apilamos imagen y texto*/
        justify-content: center !important;/* el bootstrap le aplica por defecto el flez-start. Asi que le tenemos q poner detras !importante para q le aplica nuestra propiedad*/
    }

}